/*Reset Options*/

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

/*General*/

body {
    font-family: "Raleway",Raleway, sans-serif;
    font-size: 14px;
}

.container {
    width: 1138px;
    margin: 0 auto;
    padding: 0 16px;
    display: block;
}

/*Typography*/

/*Logotype BEGIN*/

div.logo {
    display: flex;
}

div.logo img {
    height: 50px;
}

div.logo div.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 8px;
}

div.logo-text p:first-child {
    font-size: 26.5px;
}

/*Logotype END*/

/*Header BEGIN*/

header {
    background: #e9d401;
}

header div.container{
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.menu {
    height: inherit;
    width: 710px;
    display: flex;
    justify-content: space-around;
}

nav.menu li{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

nav.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-family: "Raleway SemiBold", Raleway, sans-serif;
    font-size: 16px;
}

nav.menu li a:hover {
    background: #c9bb12;
}

li#profile a{
    background: #1e242b;
    padding: 7px 0;
}

li#profile a:hover{
    background: #4c636c;
}

li#profile img{
    height: 50px;
}

/*Header END*/

/*Slider BEGIN*/

div.slider {
    background: #e9d401;
    height: 484px;
    color: #1e242b;
}

div.slider h1{
    font-size: 56px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
}

div.slider p{
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

div.slider div.container {
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.container div.image-slider {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

div.container #down-arrow{
    height: 82px;
    width: 82px;
    background: #e9d401;
    border-radius: 41px;
    position: absolute;
    left: 50%;
    margin-left: -41px;
    bottom: -41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#down-arrow img{
    height: 32px;
    width: 58px;
}

a#down-arrow:hover {
    background: #c9bb12;
}

/*Slider END*/